body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #879378;
    background-color: #FEFEFA;
}

header, footer, nav, section {
    display: block;
}

pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
}

.site-size {
    width: 900px;
    margin: auto;
}

.wrapper.site-size {        
    border: 1px solid #F2EFCF;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 100px;
    min-height: 100%;
}

.footer.site-size {
    margin-top: -100px;
    height: 100px;
}
