@using MVCProject.Models
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "WebReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebReportModel
<body>
    <h2>WebReport</h2>
    @using (@Html.BeginForm("Submit", "WebReport", FormMethod.Post, new { model = @Model }))
    {
        <div id="WebReport">
            <div>
                <ul id="WebReportOptions">
                    <li class="select-method">@Html.DropDownListFor(m => m.SelectedOption.Value, @Model.Options)</li>
                    <li>
                        <button id="submitWebReport" type="submit">Submit</button></li>
                </ul>
            </div>
            <div class="result">
                <pre>@Model.Content</pre>
            </div>
        </div>
    }
</body>
