@using MVCProject.Models
@model ArticleModel
@{
    ViewBag.Title = "OpenDetails";
    Layout = "~/Views/ArticleDetails/Index.cshtml";
}

<h2>Details</h2>

<h3>Articele title: @Model.Title</h3>

<p>Article author: @Model.Author</p>
